* {
  margin: 0px;
  padding: 0px;
}
header h1 {
  color: white;
  font-size: 48px;
  margin-top: 0;
  padding-top: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  /* 下線がなくなる */
  color: black;
}
a:hover {
  color: white;
}
header {
  background-color: darkgreen;
  height: 160px;

}
header li {
  float:right;
  font-size: 24px;
  padding: 10px;
}
